<section>
  <h2>Create New Post</h2>

  <form class="new-post-form card">
    <div class="card-header"></div>
    <div class="card-detail">
     <p> 
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </p>
    <p> 
      <label for="content">Content</label>
      <textarea id="content" name="content" ></textarea>
    </p>
    <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</section>

<script src="/javascript/add-post.js"></script>