<form class="login-form card">
  <div class="card-header">Login </div>
  <div class="card-body">
  <p>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
    </p>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Login!</button>
  </div>
  <p><a href="/signup">Sign up instead</a></p>
</form>

<script src="/javascript/login.js"></script> 