<form class="login-form card">
    <div class="card-header">Login </div>
    <div class="card-body">
      <p>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
      </p>
      <p>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </p>
      <p>
          <button type="submit" class="btn btn-primary">Login!</button>
       </p>
        <p><a href="/signup">Sign up instead</a></p>
    </div> 
</form>

<script src="/javascript/login.js"></script> 