<form class="signup-form card">
  <div class="card-header">Sign Up</div>
  <div class="card-body">
   <p> 
     <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
    </p>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" >Sign Up</button>
  </div>
  <p><a href="/login">Login instead</a></p>
</form>

<script src="/javascript/signup.js"></script>